@import url(reset.css);

body {
  font-family: "NotoSansTC", sans-serif;
  box-sizing: border-box;
}

/* ----------------------- header ------------------------------- */
.top {
  display: flex;
  width: 100%;
  align-items: center;
}

.top.active > ul {
  display: block;
}

.top img {
  margin: 8px 0px 8px 30px;
}

.top ul {
  display: flex;
  margin-left: auto;
  /* align-items: center; */
  line-height: 100px;
}

.top ul li a {
  text-decoration: none;
  display: block;
  color: #333;
  text-align: center;
  padding: 0 30px;
}

.top li:hover {
  background-color: rgba(193, 123, 58, 0.2);
}

.hamburger {
  cursor: pointer;
  width: 50px;
  height: 50px;
  display: none;
}

.hamburger_line {
  width: 50px;
  height: 6px;
  background-color: #c17b3a;
  position: relative;
  border-radius: 5px;
  cursor: pointer;
}

.hamburger_line::before,
.hamburger_line::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 6px;
  border-radius: 5px;
  background-color: #c17b3a;
  transition: 0.5s;
}

.hamburger_line::before {
  top: -16px;
}

.hamburger_line::after {
  top: 16px;
}
/* ---------------------------------- TOP fixed ----------------------------------- */
.topFixed {
  position: relative;
}

.topFixed img {
  position: fixed;
  right: 0;
  bottom: 20%;
  z-index: 2;
  width: 100px;
  cursor: pointer;
}

/* -------------------------- 中間大圖 -------------------*/
.homebig {
  margin: 0 auto;
  max-width: 890px;
  padding: 0 20px;
}

.bigpic {
  background: url(../pic/apply.jpg);
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  position: relative;
  z-index: 0;
}

.filter {
  width: 100%;
  height: 100%;
  background-color: rgba(202, 202, 202, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.bigpic h1 {
  font-size: 78px;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 300px;
  letter-spacing: 2px;
}

.bigpic p {
  color: #4b4b4b;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 2px;
  line-height: 1.4;
}

.bigpic span {
  font-size: 30px;
  color: #59a84f;
}

.joinStep {
  background-color: #fdfdfd;
  margin: 25px auto;
  max-width: 700px;
  padding: 0 20px;
}

.joinart {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.joinStep h3 {
  text-align: center;
  color: #333;
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: bold;
  margin: 50px 0;
  line-height: 1.6;
  padding: 20px;
}

.joinStep h2 {
  border-bottom: 5px solid #c17b3a;
  line-height: 2;
  font-size: 39px;
  letter-spacing: 2px;
  width: 40%;
  text-align: center;
}

.joinStep img {
  margin: 50px;
  padding: 20px;
}

.apply_mobile {
  display: none;
}

.w {
  margin-bottom: 50px;

  padding: 0 20px;
}

form {
  background-color: #fdfdfd;
  width: 36%;
  margin-top: 190px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

form h4 {
  /* width: 550px; */
  /* height: 60px; */
  margin: 50px auto;
  font-size: 21px;
  line-height: 1.6;
  letter-spacing: 3px;
  text-align: center;
  color: #333333;
}

form h6 {
  font-size: 14px;
  color: #756e6e;
  /* width: 232px; */
  /* height: 180px; */
  line-height: 30px;
  align-self: self-start;
  text-align: center;
  padding: 0 20px;
}

input {
  width: 70%;
  height: 50px;
  margin-bottom: 30px;
  box-shadow: 0 0 10px rgba(193, 128, 53, 0.25);
  border: 0;
  text-indent: 30px;
  outline: none;
  font-size: 12px;
  position: relative;
}

input::placeholder {
  color: #4a4a4a;
  font-size: 12px;
}

.list {
  position: relative;
  display: block;
  height: 300px;
  margin-bottom: 50px;
  color: transparent;
}

.upload {
  position: relative;
}

.upload i {
  position: absolute;
  font-size: 25px;
  left: 250px;
  top: calc(50% - 0.5em);
  transform: translate(-50%, -50%);
}

/* input[type="file"]::file-selector-button {
  display: none;
}

input[type="file"] {
  width: 90%;
  height: 300px;
} */

.upload_area {
  background-color: #fdfdfd;
  width: 75%;
  position: relative;
  margin: 30px auto;
  padding: 30px 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(193, 128, 53, 0.25);
}

input[type="file"] {
  display: none;
}

label {
  display: block;
  position: relative;
  background-color: rgba(193, 123, 58, 0.25);
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  width: 70%;
  padding: 15px 0;
  margin: auto;
  border-radius: 8px;
  cursor: pointer;
  color: #333;
}

#num-of-files {
  font-weight: 400;
  text-align: center;
  margin: 15px 0;
}

ul {
  list-style-type: none;
}

.upload_area li {
  font-weight: 500;
  box-shadow: 0 0 10px rgba(193, 128, 53, 0.25);
  color: #756e6e;
  margin-bottom: 30px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-direction: column;
}

.upload_area li h5 {
  font-size: 14px;
  padding: 20px;
}

.upload_area li h5:nth-child(1) {
  width: 70%;
}
.upload_area li h5:nth-child() {
  width: 30%;
}

textarea {
  width: 70%;
  height: 280px;
  box-shadow: 0 0 10px rgba(193, 128, 53, 0.25);
  resize: none;
  border: none;
  outline: none;
  text-indent: 30px;
  margin-bottom: 50px;
  padding-top: 20px;
}

input[type="submit"] {
  background-color: rgba(193, 123, 58, 0.5);
  color: #333;
  letter-spacing: 3px;
  font-size: 20px;
}

/* ---------------------------- footer ---------------------------- */
.foot {
  display: flex;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.foot > img {
  width: 207px;
  margin-left: 50px;
}

nav {
  display: flex;
  /* flex-direction: column; */
}

nav ul {
  display: flex;
  flex-direction: column;
  /* width: 100%; */
}

nav ul li {
  flex-grow: 1;
  text-align: center;
  padding-top: 20px;
}

nav p {
  color: #333;
}

nav a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  font-weight: bold;
}

.rthings {
  box-sizing: border-box;
  padding-top: 20px;
  margin-right: 100px;
}

.rthings h6 {
  font-size: 16px;
  /* width: 235px; */
  line-height: 20px;
  color: #333;
  padding-bottom: 10px;
}

.links img {
  width: 20px;
  height: 20px;
  margin-top: 20px;
  padding-right: 30px;
}

.link img:last-child {
  width: 30px;
  height: 20px;
}

/* --------------------------------- TibaMe --------------------------------------- */
.TibaMe {
  text-align: center;
  background-color: #c17b3a;
  line-height: 50px;
  color: #333;
  letter-spacing: 2px;
  font-weight: bold;
}

/* RWD */
@media screen and (max-width: 1000px) {
  /* ============================ header ================================ */
  .top > ul {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: rgba(249, 249, 249, 0.958);
    z-index: 3;
    top: 99px;
    width: 100%;
    font-size: 20px;
    letter-spacing: 3px;
  }

  .top > ul li {
    border-bottom: 1px solid rgb(193, 128, 53);
  }

  .top {
    justify-content: space-between;
  }

  .hamburger {
    display: block;
    margin-right: 20px;
  }

  .hamburger_line {
    display: block;
    top: 20px;
  }

  form {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  /* ======================== footer ===================================== */
  nav {
    display: none;
  }

  .rthings {
    margin-right: 20px;
  }

  .apply_mobile {
    display: block;
  }

  .apply_pc {
    display: none;
  }
}

@media screen and (max-width: 585px) {
  .upload_area li h5:nth-child(1) {
    display: none;
  }

  .upload_area li h5:nth-child(2) {
    text-align: center;
  }
}

@media screen and (max-width: 440px) {
  /* ======================== 中間大圖 ===================================== */
  .homebig {
    padding: 0 10px;
    box-sizing: border-box;
  }
  /* ======================== footer ===================================== */
  .foot img {
    margin-left: 20px;
  }

  .rthings {
    padding: 0;
    margin-right: 0;
  }

  .rthings h6 {
    display: none;
  }

  .foot {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }

  .links a img {
    width: 40px;
    height: 40px;
  }

  .title > h2::before,
  .title > h2::after {
    display: none;
  }

  .title {
    background-color: #fff2e5;
    border-radius: 8px;
    width: 100%;
  }

  .title > h2 {
    /* text-align: center; */
    display: block;
    padding: 20px;
  }
}
