/* -------------------------- 中間大圖 -------------------*/
.homebig {
  background: url(../pic/aboutusbigpic.jpg);
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
}

.bigpic {
  position: relative;
}

.filter {
  width: 100%;
  height: 100%;
  background-color: rgba(202, 202, 202, 0.3);
  position: absolute;
  z-index: -1;
}

.line {
  width: 100%;
  height: 10px;
  background-color: #c17b3a;
}

.bigpic h1 {
  font-size: 78px;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-bottom: 50px;
  letter-spacing: 2px;
  margin-top: 200px;
}

.bigpic p {
  color: #4b4b4b;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 2px;
  line-height: 1.4;
  margin-bottom: 200px;
}

.bigpic span {
  color: #32b121;
}

/* ----------------------------------------- FAQ ------------------------------------------------- */
.FAQ {
  margin: 0 auto;
  max-width: 890px;
  padding: 0 20px;
}

/* .midFaq {
  max-width: 850px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid purple;
} */

.fa-magnifying-glass {
  position: absolute;
  right: 30px;
  top: calc(50% - 0.5em);
  font-size: 20px;
}

.user {
  position: relative;
  max-width: 850px;
  margin: auto;
  margin-bottom: 50px;
}

.user input {
  text-indent: 40px;
  width: 100%;
  height: 80px;
  padding: 0;
}

.text {
  box-shadow: 0 0 10px rgba(193, 128, 53, 0.25);
  border: none;
  border-radius: 8px;
  outline: none;
  font-size: 20px;
}

.midFaq ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.midFaq li {
  margin-bottom: 50px;
}

.accordion {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.accordion-header {
  font-size: 18px;
  font-weight: bold;
  padding: 20px;
  color: #333;
  position: relative;
  cursor: pointer;
}

.accordion-header:hover {
  transition: all 0.6s;
  background-color: #c17b3a;
  color: #fff;
}

.accordion-header:hover::after {
  color: #fff;
}

.accordion-item.active .accordion-header {
  font-size: 18px;
  padding: 20px;
  background-color: #c17b3a;
  color: #fff;
  font-weight: bold;
  position: relative;
}
.accordion-header::after {
  content: "\002B";
  color: #333;
  font-size: 30px;
  position: absolute;
  top: 20px;
  right: 20px;
  transition: transform 0.3s ease;
}

.accordion-item.active .accordion-header::after {
  color: #fff;
  transform: rotate(45deg);
}

.accordion-item {
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(193, 128, 53, 0.25);
  overflow: hidden;
  width: 100%;
}

.accordion-item.active {
  /* border: 2px solid wheat; */
  box-shadow: 0 0 10px rgba(193, 128, 53, 0.25);
  border-radius: 10px;
  margin-bottom: 30px;
  transition: transform 0.3s ease;
}

.accordion-content {
  padding: 20px 50px 20px 50px;
  display: none;
  box-shadow: 0 0 10px rgba(193, 128, 53, 0.25);
}

.font {
  display: flex;
  justify-content: center;
  align-items: center;
}

.accordion-content p {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #756e6e;
  line-height: 1.6;
}
