@import url(reset.css);

body {
  font-family: "NotoSansTC", sans-serif;
  box-sizing: border-box;
}

/* -------------------------- 中間大圖 -------------------*/

.homebig {
  background: url(../pic/homebigpic.jpg);
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
}

.bigpic {
  position: relative;
}

.filter {
  width: 100%;
  height: 100%;
  background-color: rgba(202, 202, 202, 0.3);
  position: absolute;
  z-index: -1;
}

.line {
  width: 100%;
  height: 10px;
  background-color: #c17b3a;
}

.bigpic h1 {
  font-size: 78px;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;
  letter-spacing: 2px;
}
.bigpic p {
  color: #333;
  font-size: 78px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 50px;
  line-height: 1.4;
}

.user {
  position: relative;
  display: inline-block;
}

i {
  position: absolute;
  left: 20px;
  top: calc(50% - 0.5em);
}

.user input {
  text-indent: 40px;
  box-shadow: 0 0 10px rgba(193, 128, 53, 0.25);
  border: 1px solid rgba(193, 128, 53, 0.25);
}

.address {
  border: none;
  width: 350px;
  height: 60px;
  border-radius: 8px;
  outline: none;
  font-size: 16px;
}

section .start {
  background-color: #c1d969;
  padding: 20px 30px;
  font-size: 20px;
  color: #333;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 50px;
  margin-bottom: 100px;
}

/* ------------------------ 快速開始 ------------------------------ */
.letgo {
  margin: 0 auto;
  max-width: 890px;
  padding: 0 20px;
}

.letgo p,
.story p {
  font-weight: 700;
  font-size: 18px;
  line-height: 29px;
  letter-spacing: 1px;
  color: #756e6e;
  padding: 0 40px;
}

.cards {
  max-width: 760px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  counter-reset: my-awesome-counter;
  margin-top: 50px;
  margin-bottom: 115px;
  margin-left: auto;
  margin-right: auto;
}

/* .card:nth-child(2n + 1) {
  margin-right: 50px;
} */

.card {
  background-color: #fff2e5;
  display: flex;
  flex-direction: column;
  border-radius: 13px;
  width: 360px;
  /* height: 344px; */
  position: relative;
  counter-increment: my-awesome-counter;
  margin-bottom: 50px;
  box-sizing: border-box;
}

.card h4 {
  color: #756e6e;
  font-weight: bold;
  margin: 15px 80px;
  font-size: 20px;
}

.card img {
  /* height: 262px; */
  width: 50%;
  height: 50%;
  margin: auto;
  margin-top: 50px;
}

.card::before {
  content: counter(my-awesome-counter);
  color: #756e6e;
  font-size: 50px;
  font-weight: bold;
  position: absolute;
  left: -30px;
  line-height: 94px;
  width: 94px;
  height: 94px;
  top: -30px;
  background: white;
  border-radius: 50%;
  text-align: center;
}

/* --------------------------------- 精選商家 ---------------------------------- */

.store {
  background-color: #efedf0;
  padding: 0 20px;
}

.big_store {
  max-width: 890px;
  margin: auto;
  padding-top: 40px;
  margin-bottom: 40px;
  padding-bottom: 40px;
}

.pic-boxs {
  margin: 0 auto;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  margin-bottom: 50px;
}

.pic-boxs img {
  display: block;
  width: 100%;
}

.pic1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.pic2 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

.pic3 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}

.pic4 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}

.pic5 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

.pic6 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 4;
}

/* 快速、健康、驚喜 */
.little {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 890px;
}

.little ul {
  display: flex;
  justify-content: space-between;
}

.little ul li:nth-child(2) {
  margin: 0 150px;
}

.little ul li {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.little ul li h3 {
  font-size: 39px;
  color: #333;
  padding-left: 25px;
}

/* ----------------- 品牌故事 ---------------------- */
.story {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  margin: 0 auto;
  max-width: 890px;
  padding: 0 20px;
}

/* ------------------- 美味城市 ---------------------- */
.delicious {
  margin: 0 auto;
  max-width: 890px;
  padding: 0 20px;
}

.bottom-btns {
  margin-bottom: 50px;
  text-align: center;
}

.bottom-btn {
  width: 95px;
  height: 50px;
  border: 1px solid #c1d969;
  background-color: white;
  padding: 0 25px;
  font-size: 20px;
  color: #000000;
  border-radius: 10px;
  cursor: pointer;
  margin: auto 15px;
}

iframe {
  width: 100%;
  height: 450px;
}

.bottom-btn:hover {
  background-color: #c1d969;
}

/* ====================== RWD ================================== */
@media screen and (max-width: 775px) {
  .little ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .little ul li:nth-child(2) {
    margin: 30px;
  }
  .bottom-btn {
    margin-bottom: 30px;
  }
  .cards {
    justify-content: center;
  }
}

@media screen and (max-width: 428px) {
  .pic-boxs {
    width: 100%;
  }
}
