@import url(reset.css);

body {
  font-family: "NotoSansTC", sans-serif;
  box-sizing: border-box;
}

/* ----------------------- header ------------------------------- */
.top {
  display: flex;
  width: 100%;
  align-items: center;
  box-shadow: 10px 5px 5px rgba(59, 58, 58, 0.4);
}

.top img {
  margin: 10px 0px;
}

.top ul {
  display: flex;
  margin-left: auto;
  /* align-items: center; */
  line-height: 100px;
}

.top ul li a {
  text-decoration: none;
  display: block;
  color: #333;
  text-align: center;
  padding: 0 30px;
}

.top li:hover {
  background-color: rgba(193, 123, 58, 0.2);
}

.hamburger_line {
  width: 50px;
  height: 6px;
  background-color: #c17b3a;
  position: relative;
  border-radius: 5px;
  /* display: none; */
  cursor: pointer;
  display: none;
}

.hamburger_line::before,
.hamburger_line::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 6px;
  border-radius: 5px;
  background-color: #c17b3a;
  transition: 0.5s;
}

.hamburger_line::before {
  top: -16px;
}

.hamburger_line::after {
  top: 16px;
}

/* 快速開始、精選商家、品牌故事、美味城市 標題 */

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 850px; */
  height: 56px;
  margin: 50px auto;
  position: relative;
}

h2 {
  font-size: 39px;
  color: #5e5e5e;
  margin: 50px;
  letter-spacing: 5px;
  text-align: center;
}

.title > h2::before {
  content: "";
  width: 270px;
  height: 2px;
  background-color: #c17b3a;
  position: absolute;
  top: 30px;
  left: -250px;
}

.title > h2::after {
  content: "";
  width: 270px;
  height: 2px;
  background-color: #c17b3a;
  position: absolute;
  top: 30px;
  right: -250px;
}

/* ---------------------------- footer ---------------------------- */
.foot {
  display: flex;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.foot > img {
  width: 207px;
  margin-left: 50px;
}

nav {
  display: flex;
  /* flex-direction: column; */
}

nav ul {
  display: flex;
  flex-direction: column;
  /* width: 100%; */
}

nav ul li {
  flex-grow: 1;
  text-align: center;
  padding-top: 20px;
}

nav p {
  color: #333;
}

nav a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  font-weight: bold;
}

.rthings {
  box-sizing: border-box;
  padding-top: 20px;
  margin-right: 100px;
}

.rthings h6 {
  font-size: 16px;
  /* width: 235px; */
  line-height: 20px;
  color: #333;
  padding-bottom: 10px;
}

.links img {
  width: 20px;
  height: 20px;
  margin-top: 20px;
  padding-right: 30px;
}

.link img:last-child {
  width: 30px;
  height: 20px;
}

/* --------------------------------- TibaMe --------------------------------------- */
.TibaMe {
  text-align: center;
  background-color: #c17b3a;
  height: 50px;
  line-height: 50px;
  color: #333;
  letter-spacing: 2px;
  font-weight: bold;
}
/* ---------------------------------- TOP fixed ----------------------------------- */
.topFixed {
  position: relative;
}

.topFixed img {
  position: fixed;
  right: 0;
  bottom: 20%;
  z-index: 2;
  width: 100px;
  cursor: pointer;
}

/* RWD */
@media screen and (max-width: 1200px) {
  /* ============================ header ================================ */
  .top > ul {
    /* display: none; */
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: white;
    z-index: 3;
    top: 100px;
    width: 100vw;
    font-size: 20px;
    letter-spacing: 3px;
  }

  .top {
    justify-content: space-between;
  }

  .hamburger_line {
    display: block;
    margin: 40px;
  }
}
