@import url(reset.css);

body {
  font-family: "NotoSansTC", sans-serif;
  box-sizing: border-box;
}

/* ----------------------- header ------------------------------- */
.top {
  display: flex;
}

.top img {
  margin: 10px 0px;
}

.top ul {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.top ul li {
  flex-grow: 1;
  line-height: 50px;
  padding: 25px 50px;
}

.top ul li a {
  text-decoration: none;
  display: block;
  color: #333;
  text-align: center;
}

.top li:hover {
  background-color: rgba(193, 123, 58, 0.2);
}

/* 快速開始、精選商家、品牌故事、美味城市 標題 */

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 850px;
  height: 56px;
  margin: 50px auto;
}

.title-line {
  width: 270px;
  height: 2px;
  background-color: #c17b3a;
  margin: 50px 0;
}

h2 {
  font-size: 39px;
  color: #5e5e5e;
  margin: 60px;
  letter-spacing: 5px;
  text-align: center;
}

.title-rline {
  width: 270px;
  height: 2px;
  background-color: #c17b3a;
  margin: 50px 0;
}

.letgo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 850px;
  margin: 0 auto;
}

/* ---------------------------- footer ---------------------------- */
.foot {
  display: flex;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  justify-content: space-between;
}

.foot > img {
  width: 207px;
  margin-left: 50px;
}

nav {
  display: flex;
  flex-direction: column;
}

nav ul {
  display: flex;
  width: 100%;
  margin: 85px auto;
}

nav ul li {
  flex-grow: 1;
  text-align: center;
}

nav p {
  color: #333;
}

nav a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  font-weight: bold;
}

.rthings {
  box-sizing: border-box;
  padding-top: 20px;
  padding-right: 50px;
}

.rthings h6 {
  font-size: 14px;
  width: 235px;
  line-height: 3;
  color: #333;
}

.links img {
  width: 20px;
  height: 20px;
  margin-top: 20px;
  padding-right: 30px;
}

.link img:last-child {
  width: 30px;
  height: 20px;
}

/* ---------------------------------- TOP fixed ----------------------------------- */
.topFixed {
  position: relative;
}

.topFixed img {
  position: fixed;
  right: 0;
  bottom: 20%;
  z-index: 2;
  width: 100px;
  cursor: pointer;
}
